# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

import httpx

from ..._resource import SyncAPIResource, AsyncAPIResource

from ..._compat import cached_property

from ..._utils import path_template, maybe_transform, async_maybe_transform

from ...types.use_case_instance_response import UseCaseInstanceResponse

from ..._base_client import make_request_options

from typing import Dict, Optional

from ..._types import NotGiven

from ..._response import to_raw_response_wrapper, async_to_raw_response_wrapper, to_streamed_response_wrapper, async_to_streamed_response_wrapper

from typing_extensions import Literal, overload
from ..._types import Timeout, Headers, NotGiven, not_given, Omit, omit, NoneType, Query, Body
from ...types.use_cases import property_update_params

__all__ = ["PropertiesResource", "AsyncPropertiesResource"]

class PropertiesResource(SyncAPIResource):
    """Use Cases"""
    @cached_property
    def with_raw_response(self) -> PropertiesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/ascerta-dev/ascerta-python#accessing-raw-response-data-eg-headers
        """
        return PropertiesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> PropertiesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/ascerta-dev/ascerta-python#with_streaming_response
        """
        return PropertiesResourceWithStreamingResponse(self)

    def update(self,
    use_case_id: str,
    *,
    use_case_name: str,
    properties: Dict[str, Optional[str]],
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseInstanceResponse:
        """
        Update a Use Case instance properties

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not use_case_name:
          raise ValueError(
            f'Expected a non-empty value for `use_case_name` but received {use_case_name!r}'
          )
        if not use_case_id:
          raise ValueError(
            f'Expected a non-empty value for `use_case_id` but received {use_case_id!r}'
          )
        return self._put(
            path_template("/api/v1/use_cases/instances/{use_case_name}/{use_case_id}/properties", use_case_name=use_case_name, use_case_id=use_case_id),
            body=maybe_transform({
                "properties": properties
            }, property_update_params.PropertyUpdateParams),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseInstanceResponse,
        )

class AsyncPropertiesResource(AsyncAPIResource):
    """Use Cases"""
    @cached_property
    def with_raw_response(self) -> AsyncPropertiesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/ascerta-dev/ascerta-python#accessing-raw-response-data-eg-headers
        """
        return AsyncPropertiesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncPropertiesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/ascerta-dev/ascerta-python#with_streaming_response
        """
        return AsyncPropertiesResourceWithStreamingResponse(self)

    async def update(self,
    use_case_id: str,
    *,
    use_case_name: str,
    properties: Dict[str, Optional[str]],
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseInstanceResponse:
        """
        Update a Use Case instance properties

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not use_case_name:
          raise ValueError(
            f'Expected a non-empty value for `use_case_name` but received {use_case_name!r}'
          )
        if not use_case_id:
          raise ValueError(
            f'Expected a non-empty value for `use_case_id` but received {use_case_id!r}'
          )
        return await self._put(
            path_template("/api/v1/use_cases/instances/{use_case_name}/{use_case_id}/properties", use_case_name=use_case_name, use_case_id=use_case_id),
            body=await async_maybe_transform({
                "properties": properties
            }, property_update_params.PropertyUpdateParams),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseInstanceResponse,
        )

class PropertiesResourceWithRawResponse:
    def __init__(self, properties: PropertiesResource) -> None:
        self._properties = properties

        self.update = to_raw_response_wrapper(
            properties.update,
        )

class AsyncPropertiesResourceWithRawResponse:
    def __init__(self, properties: AsyncPropertiesResource) -> None:
        self._properties = properties

        self.update = async_to_raw_response_wrapper(
            properties.update,
        )

class PropertiesResourceWithStreamingResponse:
    def __init__(self, properties: PropertiesResource) -> None:
        self._properties = properties

        self.update = to_streamed_response_wrapper(
            properties.update,
        )

class AsyncPropertiesResourceWithStreamingResponse:
    def __init__(self, properties: AsyncPropertiesResource) -> None:
        self._properties = properties

        self.update = async_to_streamed_response_wrapper(
            properties.update,
        )