# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

import httpx

from ...._resource import SyncAPIResource, AsyncAPIResource

from .kpis import KpisResource, AsyncKpisResource, KpisResourceWithRawResponse, AsyncKpisResourceWithRawResponse, KpisResourceWithStreamingResponse, AsyncKpisResourceWithStreamingResponse

from ...._compat import cached_property

from .limit_config import LimitConfigResource, AsyncLimitConfigResource, LimitConfigResourceWithRawResponse, AsyncLimitConfigResourceWithRawResponse, LimitConfigResourceWithStreamingResponse, AsyncLimitConfigResourceWithStreamingResponse

from .version import VersionResource, AsyncVersionResource, VersionResourceWithRawResponse, AsyncVersionResourceWithRawResponse, VersionResourceWithStreamingResponse, AsyncVersionResourceWithStreamingResponse

from ....types.use_cases.use_case_definition_response import UseCaseDefinitionResponse

from ...._utils import maybe_transform, path_template, async_maybe_transform

from ...._base_client import make_request_options, AsyncPaginator

from typing import Optional

from ....types.shared_params.ascerta_common_models_budget_management_create_limit_base import AscertaCommonModelsBudgetManagementCreateLimitBase

from ...._types import Omit, omit, NotGiven

from typing_extensions import Literal

from ....pagination import SyncCursorPage, AsyncCursorPage

from ...._response import to_raw_response_wrapper, async_to_raw_response_wrapper, to_streamed_response_wrapper, async_to_streamed_response_wrapper

from typing_extensions import Literal, overload
from ...._types import Timeout, Headers, NotGiven, not_given, Omit, omit, NoneType, Query, Body
from ....types.use_cases import definition_create_params
from ....types.use_cases import definition_update_params
from ....types.use_cases import definition_list_params
from ....types import shared

__all__ = ["DefinitionsResource", "AsyncDefinitionsResource"]

class DefinitionsResource(SyncAPIResource):
    """Use Cases"""
    @cached_property
    def kpis(self) -> KpisResource:
        """KPIs"""
        return KpisResource(self._client)

    @cached_property
    def limit_config(self) -> LimitConfigResource:
        """Use Cases"""
        return LimitConfigResource(self._client)

    @cached_property
    def version(self) -> VersionResource:
        """Use Cases"""
        return VersionResource(self._client)

    @cached_property
    def with_raw_response(self) -> DefinitionsResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/ascerta-dev/ascerta-python#accessing-raw-response-data-eg-headers
        """
        return DefinitionsResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> DefinitionsResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/ascerta-dev/ascerta-python#with_streaming_response
        """
        return DefinitionsResourceWithStreamingResponse(self)

    def create(self,
    *,
    description: str,
    name: str,
    limit_config: Optional[AscertaCommonModelsBudgetManagementCreateLimitBase] | Omit = omit,
    logging_enabled: Optional[bool] | Omit = omit,
    system_integration: Optional[Literal["none", "claude_code", "github_copilot"]] | Omit = omit,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseDefinitionResponse:
        """
        Create a new Use Case

        Args:
          system_integration: Identifies which known integration populates an entity's data (provenance). This
              axis says who writes the data — commercial tiering belongs to ApplicationSku.
              Add values only when a consumer reads them.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._post(
            "/api/v1/use_cases/definitions",
            body=maybe_transform({
                "description": description,
                "name": name,
                "limit_config": limit_config,
                "logging_enabled": logging_enabled,
                "system_integration": system_integration,
            }, definition_create_params.DefinitionCreateParams),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseDefinitionResponse,
        )

    def retrieve(self,
    use_case_name: str,
    *,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseDefinitionResponse:
        """
        Get Use Case details

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not use_case_name:
          raise ValueError(
            f'Expected a non-empty value for `use_case_name` but received {use_case_name!r}'
          )
        return self._get(
            path_template("/api/v1/use_cases/definitions/{use_case_name}", use_case_name=use_case_name),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseDefinitionResponse,
        )

    def update(self,
    use_case_name: str,
    *,
    description: Optional[str] | Omit = omit,
    logging_enabled: Optional[bool] | Omit = omit,
    system_integration: Optional[Literal["none", "claude_code", "github_copilot"]] | Omit = omit,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseDefinitionResponse:
        """
        Update a Use Case definition

        Args:
          system_integration: Identifies which known integration populates an entity's data (provenance). This
              axis says who writes the data — commercial tiering belongs to ApplicationSku.
              Add values only when a consumer reads them.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not use_case_name:
          raise ValueError(
            f'Expected a non-empty value for `use_case_name` but received {use_case_name!r}'
          )
        return self._put(
            path_template("/api/v1/use_cases/definitions/{use_case_name}", use_case_name=use_case_name),
            body=maybe_transform({
                "description": description,
                "logging_enabled": logging_enabled,
                "system_integration": system_integration,
            }, definition_update_params.DefinitionUpdateParams),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseDefinitionResponse,
        )

    def list(self,
    *,
    cursor: str | Omit = omit,
    limit: int | Omit = omit,
    sort_ascending: bool | Omit = omit,
    use_case_name: str | Omit = omit,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> SyncCursorPage[UseCaseDefinitionResponse]:
        """
        Get all Use Cases

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get_api_list(
            "/api/v1/use_cases/definitions",
            page = SyncCursorPage[UseCaseDefinitionResponse],
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout, query=maybe_transform({
                "cursor": cursor,
                "limit": limit,
                "sort_ascending": sort_ascending,
                "use_case_name": use_case_name,
            }, definition_list_params.DefinitionListParams)),
            model=UseCaseDefinitionResponse,
        )

    def delete(self,
    use_case_name: str,
    *,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseDefinitionResponse:
        """
        Delete a Use Case

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not use_case_name:
          raise ValueError(
            f'Expected a non-empty value for `use_case_name` but received {use_case_name!r}'
          )
        return self._delete(
            path_template("/api/v1/use_cases/definitions/{use_case_name}", use_case_name=use_case_name),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseDefinitionResponse,
        )

class AsyncDefinitionsResource(AsyncAPIResource):
    """Use Cases"""
    @cached_property
    def kpis(self) -> AsyncKpisResource:
        """KPIs"""
        return AsyncKpisResource(self._client)

    @cached_property
    def limit_config(self) -> AsyncLimitConfigResource:
        """Use Cases"""
        return AsyncLimitConfigResource(self._client)

    @cached_property
    def version(self) -> AsyncVersionResource:
        """Use Cases"""
        return AsyncVersionResource(self._client)

    @cached_property
    def with_raw_response(self) -> AsyncDefinitionsResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/ascerta-dev/ascerta-python#accessing-raw-response-data-eg-headers
        """
        return AsyncDefinitionsResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncDefinitionsResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/ascerta-dev/ascerta-python#with_streaming_response
        """
        return AsyncDefinitionsResourceWithStreamingResponse(self)

    async def create(self,
    *,
    description: str,
    name: str,
    limit_config: Optional[AscertaCommonModelsBudgetManagementCreateLimitBase] | Omit = omit,
    logging_enabled: Optional[bool] | Omit = omit,
    system_integration: Optional[Literal["none", "claude_code", "github_copilot"]] | Omit = omit,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseDefinitionResponse:
        """
        Create a new Use Case

        Args:
          system_integration: Identifies which known integration populates an entity's data (provenance). This
              axis says who writes the data — commercial tiering belongs to ApplicationSku.
              Add values only when a consumer reads them.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._post(
            "/api/v1/use_cases/definitions",
            body=await async_maybe_transform({
                "description": description,
                "name": name,
                "limit_config": limit_config,
                "logging_enabled": logging_enabled,
                "system_integration": system_integration,
            }, definition_create_params.DefinitionCreateParams),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseDefinitionResponse,
        )

    async def retrieve(self,
    use_case_name: str,
    *,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseDefinitionResponse:
        """
        Get Use Case details

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not use_case_name:
          raise ValueError(
            f'Expected a non-empty value for `use_case_name` but received {use_case_name!r}'
          )
        return await self._get(
            path_template("/api/v1/use_cases/definitions/{use_case_name}", use_case_name=use_case_name),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseDefinitionResponse,
        )

    async def update(self,
    use_case_name: str,
    *,
    description: Optional[str] | Omit = omit,
    logging_enabled: Optional[bool] | Omit = omit,
    system_integration: Optional[Literal["none", "claude_code", "github_copilot"]] | Omit = omit,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseDefinitionResponse:
        """
        Update a Use Case definition

        Args:
          system_integration: Identifies which known integration populates an entity's data (provenance). This
              axis says who writes the data — commercial tiering belongs to ApplicationSku.
              Add values only when a consumer reads them.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not use_case_name:
          raise ValueError(
            f'Expected a non-empty value for `use_case_name` but received {use_case_name!r}'
          )
        return await self._put(
            path_template("/api/v1/use_cases/definitions/{use_case_name}", use_case_name=use_case_name),
            body=await async_maybe_transform({
                "description": description,
                "logging_enabled": logging_enabled,
                "system_integration": system_integration,
            }, definition_update_params.DefinitionUpdateParams),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseDefinitionResponse,
        )

    def list(self,
    *,
    cursor: str | Omit = omit,
    limit: int | Omit = omit,
    sort_ascending: bool | Omit = omit,
    use_case_name: str | Omit = omit,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> AsyncPaginator[UseCaseDefinitionResponse, AsyncCursorPage[UseCaseDefinitionResponse]]:
        """
        Get all Use Cases

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get_api_list(
            "/api/v1/use_cases/definitions",
            page = AsyncCursorPage[UseCaseDefinitionResponse],
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout, query=maybe_transform({
                "cursor": cursor,
                "limit": limit,
                "sort_ascending": sort_ascending,
                "use_case_name": use_case_name,
            }, definition_list_params.DefinitionListParams)),
            model=UseCaseDefinitionResponse,
        )

    async def delete(self,
    use_case_name: str,
    *,
    # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
    # The extra values given here take precedence over values defined on the client or passed to this method.
    extra_headers: Headers | None = None,
    extra_query: Query | None = None,
    extra_body: Body | None = None,
    timeout: float | httpx.Timeout | None | NotGiven = not_given,) -> UseCaseDefinitionResponse:
        """
        Delete a Use Case

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not use_case_name:
          raise ValueError(
            f'Expected a non-empty value for `use_case_name` but received {use_case_name!r}'
          )
        return await self._delete(
            path_template("/api/v1/use_cases/definitions/{use_case_name}", use_case_name=use_case_name),
            options=make_request_options(extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout),
            cast_to=UseCaseDefinitionResponse,
        )

class DefinitionsResourceWithRawResponse:
    def __init__(self, definitions: DefinitionsResource) -> None:
        self._definitions = definitions

        self.create = to_raw_response_wrapper(
            definitions.create,
        )
        self.retrieve = to_raw_response_wrapper(
            definitions.retrieve,
        )
        self.update = to_raw_response_wrapper(
            definitions.update,
        )
        self.list = to_raw_response_wrapper(
            definitions.list,
        )
        self.delete = to_raw_response_wrapper(
            definitions.delete,
        )

    @cached_property
    def kpis(self) -> KpisResourceWithRawResponse:
        """KPIs"""
        return KpisResourceWithRawResponse(self._definitions.kpis)

    @cached_property
    def limit_config(self) -> LimitConfigResourceWithRawResponse:
        """Use Cases"""
        return LimitConfigResourceWithRawResponse(self._definitions.limit_config)

    @cached_property
    def version(self) -> VersionResourceWithRawResponse:
        """Use Cases"""
        return VersionResourceWithRawResponse(self._definitions.version)

class AsyncDefinitionsResourceWithRawResponse:
    def __init__(self, definitions: AsyncDefinitionsResource) -> None:
        self._definitions = definitions

        self.create = async_to_raw_response_wrapper(
            definitions.create,
        )
        self.retrieve = async_to_raw_response_wrapper(
            definitions.retrieve,
        )
        self.update = async_to_raw_response_wrapper(
            definitions.update,
        )
        self.list = async_to_raw_response_wrapper(
            definitions.list,
        )
        self.delete = async_to_raw_response_wrapper(
            definitions.delete,
        )

    @cached_property
    def kpis(self) -> AsyncKpisResourceWithRawResponse:
        """KPIs"""
        return AsyncKpisResourceWithRawResponse(self._definitions.kpis)

    @cached_property
    def limit_config(self) -> AsyncLimitConfigResourceWithRawResponse:
        """Use Cases"""
        return AsyncLimitConfigResourceWithRawResponse(self._definitions.limit_config)

    @cached_property
    def version(self) -> AsyncVersionResourceWithRawResponse:
        """Use Cases"""
        return AsyncVersionResourceWithRawResponse(self._definitions.version)

class DefinitionsResourceWithStreamingResponse:
    def __init__(self, definitions: DefinitionsResource) -> None:
        self._definitions = definitions

        self.create = to_streamed_response_wrapper(
            definitions.create,
        )
        self.retrieve = to_streamed_response_wrapper(
            definitions.retrieve,
        )
        self.update = to_streamed_response_wrapper(
            definitions.update,
        )
        self.list = to_streamed_response_wrapper(
            definitions.list,
        )
        self.delete = to_streamed_response_wrapper(
            definitions.delete,
        )

    @cached_property
    def kpis(self) -> KpisResourceWithStreamingResponse:
        """KPIs"""
        return KpisResourceWithStreamingResponse(self._definitions.kpis)

    @cached_property
    def limit_config(self) -> LimitConfigResourceWithStreamingResponse:
        """Use Cases"""
        return LimitConfigResourceWithStreamingResponse(self._definitions.limit_config)

    @cached_property
    def version(self) -> VersionResourceWithStreamingResponse:
        """Use Cases"""
        return VersionResourceWithStreamingResponse(self._definitions.version)

class AsyncDefinitionsResourceWithStreamingResponse:
    def __init__(self, definitions: AsyncDefinitionsResource) -> None:
        self._definitions = definitions

        self.create = async_to_streamed_response_wrapper(
            definitions.create,
        )
        self.retrieve = async_to_streamed_response_wrapper(
            definitions.retrieve,
        )
        self.update = async_to_streamed_response_wrapper(
            definitions.update,
        )
        self.list = async_to_streamed_response_wrapper(
            definitions.list,
        )
        self.delete = async_to_streamed_response_wrapper(
            definitions.delete,
        )

    @cached_property
    def kpis(self) -> AsyncKpisResourceWithStreamingResponse:
        """KPIs"""
        return AsyncKpisResourceWithStreamingResponse(self._definitions.kpis)

    @cached_property
    def limit_config(self) -> AsyncLimitConfigResourceWithStreamingResponse:
        """Use Cases"""
        return AsyncLimitConfigResourceWithStreamingResponse(self._definitions.limit_config)

    @cached_property
    def version(self) -> AsyncVersionResourceWithStreamingResponse:
        """Use Cases"""
        return AsyncVersionResourceWithStreamingResponse(self._definitions.version)